Control 2020/wssp/shp_users..xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/sharepoint/soap/directory/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUserCollectionFromSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Users">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="User">
                <xs:complexType>
                  <xs:attribute name="ID" type="xs:unsignedInt" use="optional" />
                  <xs:attribute name="Sid" type="xs:string" use="optional" />
                  <xs:attribute name="Name" type="xs:string" use="optional" />
                  <xs:attribute name="LoginName" type="xs:string" use="optional" />
                  <xs:attribute name="Email" type="xs:string" use="optional" />
                  <xs:attribute name="Notes" type="xs:string" use="optional" />
                  <xs:attribute name="IsSiteAdmin" type="xs:string" use="optional" />
                  <xs:attribute name="IsDomainGroup" type="xs:string" use="optional" />
                  <xs:attribute name="Flags" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>